<div class="content-container">
    <div class="flex-container flex-column">
        <input type="text" [(ngModel)]="product.productID" placeholder="Product ID" required/>
        <input type="text" [(ngModel)]="product.productName" placeholder="Product Name" required/>
        <input type="text" [(ngModel)]="product.productDescription" placeholder="Product Description" required/>
        <input type="text" [(ngModel)]="product.productImagePath" placeholder="Product image path" required/>
        <input type="text" [(ngModel)]="product.availableQuality" placeholder="Product Quality" required/>
    </div>
</div>
