<!--{{username}}

<div class="container-fluid">
  <nav class="navbar navbar-expand-xs navbar-dark bg-dark">
  

  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"  >
        <a class="nav-link"  routerLink="/" routerLinkActive="active">Home</a>
      </li>
     <li class="nav-item"  >
          <a  class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
      <li class="nav-item" *ngIf="!handleLink">
        <a class="nav-link"  routerLink="/signup" routerLinkActive="active">Signup</a>
      </li>
      <li class="nav-item" *ngIf="!(isLoggedIn$ |async) as isLoggedIn">
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      
      <li class="nav-item" *ngIf="isLoggedIn$ |async as isLoggedIn">
        <a class="nav-link" class="btn btn-primary" (click)="logout()" *ngIf="isLoggedIn ">Logout</a>
      </li>
      
    </ul>
  </div>
</nav>-->



<div class="row">
  <header class="col-md-12 navbar navbar-docs navbar-expand navbar-dark bg-primary box-shadow-sm px-3 px-lg-4" data-scroll-header>
      <div class="dropdown">   
  <a class="navbar-brand mr-auto" href="#" style="min-width: 7rem;"><img width="142" src="assets/shoppers-logo.jpeg" alt="shoppers"/></a>
 
     
      <div class="dropdown-content">
        <a (click)="filterCategory('FORMAL')">Formal</a>
        <a href="#" (click)="filterCategory('WESTERN')">Western</a>
        <a href="#" (click)="filterCategory('SEASONAL')">Seasonal</a>
        <a href="#" (click)="filterCategory('PARTY_WEAR')">Partyware</a>
        <a href="#" (click)="filterCategory('BOUTIQUE')">Boutique</a>
        <a href="#" (click)="filterCategory('TRADITIONAL')">Traditional</a>
      </div>
    </div>
 
    <div class="input-group-overlay d-lg-flex mx-4"> 
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search for products">
        <div *ngFor="let p of products">{{p.productName}}</div>
        <span class="input-group-addon">
            <i class="fa fa-search"></i>
        </span>
    </div>
    
    <ul class="navbar-nav ml-auto d-lg-flex"> 
        <li class="nav-item"><a class="nav-link" routerLink="/addproductdetails"><i class="czi-eye align-middle mt-n1 mr-2"></i>Addproduct</a></li>
        <li class="nav-item">
          <div class="nav-link disabled text-border px-1">|</div>
        </li>
      <li class="nav-item"  *ngIf="!(isLoggedIn$ |async) as isLoggedIn"><a class="nav-link" *ngIf="isLoggedIn" routerLink="/login"><i class="czi-eye align-middle mt-n1 mr-2"></i>Login</a></li>
      <li class="nav-item" *ngIf="isLoggedIn$ |async as isLoggedIn">
        <a class="nav-link" class="btn btn-primary" (click)="logout()" *ngIf="isLoggedIn ">Logout</a>
      </li>
      <li class="nav-item">
        <div class="nav-link disabled text-border px-1" *ngIf="!handleLink">|</div>
      </li>
      <li class="nav-item"  *ngIf="!handleLink"><a class="nav-link" routerLink="/signup"><i class="czi-book align-middle mt-n1 mr-2"></i>signup</a></li>
      <li class="nav-item">
        <div class="nav-link disabled text-border px-1"  *ngIf="!handleLink">|</div>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="/productlist"><i class="czi-book align-middle mt-n1 mr-2"></i></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/addproductdetails"><i class="czi-book align-middle mt-n1 mr-2"></i></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/editproduct"><i class="czi-book align-middle mt-n1 mr-2"></i></a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/addcart"><i class="czi-book align-middle mt-n1 mr-2"></i></a></li>
    </ul>
    <button class="navbar-toggler d-block d-lg-none" type="button" data-toggle="collapse" data-target="#components-nav"><span class="navbar-toggler-icon"></span></button><a class="btn btn-primary btn-shadow ml-2 ml-lg-4" href="#">Buy now</a>
  </header>
   <div class="main col-md-12 row">
      <div [ngClass]="{'col-md-8': showSummary, 'col-md-12': !showSummary}" >
        <router-outlet></router-outlet>
      </div>
      <div [hidden]="!showSummary" class="col-md-4">
        <app-summary></app-summary>
      </div>
   </div>  
    
      <footer class="col-md-12" >
      <div class="footer-copyright text-center py-3">© 2019 Copyright
      </div>
      </footer>
    
    
  
</div>