<div class="container-fluid"> 
    <div class="card-group"> 
        <div class="row"> 
          <!--Product1-->
            <div *ngFor="let p of products" class="card col-md-4"> 
                
                    <a [routerLink]="'product/'+p.productID"><img class="card-img-top" [src]= 
                    "p.productImagePath"></a>
                                          
                <div class="card-body"> 
                    <h3 class="card-title"></h3> 
                    <p class="card-text">{{p.productName}}</p> 
                </div> 
            </div> 

        </div> 
    </div> 
            <!--Product2-->
           <!---- <div class="card col-md-4"> 
                    <a routerLink="/pd1"><img class="card-img-top" src= 
                 "/assets/products/product_2.jpg"> </a>
                  
                <div class="card-body"> 
                    <h3 class="card-title text-primary"></h3> 
                    <p class="card-text">product2</p> 
                </div> 
            </div> 
         
           Product3
            <div class="card col-md-4"> 
                    <a routerLink="/pd1"><img class="card-img-top" src= 
               "/assets/products/product_3.jpg"> </a>
                  
                <div class="card-body"> 
                    <h3 class="card-title"></h3> 
                    <p class="card-text">product3</p> 
                </div> 
            </div>
        <Product4
             <div class="card col-md-4"> 
                    <a routerLink="/pd1"> <img class="card-img-top" src= 
                    "/assets/products/product_4.jpg"> </a>
                                          
                <div class="card-body"> 
                    <h3 class="card-title"></h3> 
                    <p class="card-text">product4</p> 
                </div> 
            </div>-->
            
       




